<!-- popular post -->


{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class=" popular_post ">
    <div class="right_div__title py-4 pl-2 shadow">
        <h2>Latest Posts</h2>
    </div>
    <div class="right_sub__div shadow">
        <div class="row ">
            <div class="col-3  popular_post__img1 py-2 pl-2 ">
            </div>
            <div class="col-9 shadow">
                <h3>Bill Gates</h3>
                <p class="text-capitalize">CEO Microsoft</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-3  popular_post__img2 py-2 pl-2">
            </div>
            <div class="col-9 shadow" >
                <h3>Mark Zuckerberg </h3>
                <p class="text-capitalize">Programmer</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-3  popular_post__img3 py-2 pl-2">
            </div>
            <div class="col-9 shadow">
                <h3>Jeff Bezos</h3>
                <p class="text-capitalize">Amazon</p>
            </div>
        </div>       
        
    </div>
</div>
{% endblock content %}










